body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color:rgb(36, 23, 214);
    padding: 50px;
    text-align: center;
    font-size: 35px;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* Style for details */
details {
    width: 400px;
    font-size: 20px;
}

/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;

}

/* Style the navigation menu */
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: rgb(36, 23, 214);
    color:white;
    padding: 10px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 5;
    background-color: #f1f1f1;
    padding: 10px;
}

/* Style the footer */
footer {
    background-color:rgb(36, 23, 214);
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
              background-color: #f1f1f1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
  }
  
  .sidenav a {
    padding: 8px 8px 32px 32px;
    font-size: 15px;
    font-weight: bold;
    color: #818181;
    display: block;
  
  }
  
  .sidenav a:hover {
    color: rgb(36, 23, 214);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 30px;
    margin-left: 20px;
  }
  .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown:hover {
      display: block;
    }
  
    .dropdown-menu {
        background-color: #f1f1f1;
        color:#818181;
    }

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
        width: "600px";
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}